body {
    background-image: url("numeros.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen en la pantalla */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    height: 100vh; /* Establece la altura del cuerpo al 100% del viewport height */
  
}

.Panel{
  width: 300px;
  padding: 5px;
  position: fixed; /* Fija el panel en la posición especificada */
  top: 50%; /* Centra verticalmente el panel */
  left: 50%; /* Centra horizontalmente el panel */
  transform: translate(-50%, -50%); /* Centra el panel con respecto a su propio tamaño */
  margin: 0; /* Elimina el margen predeterminado */
}

.Cabecera{
  width: auto;
  padding: 5px;
  margin: auto; /*Coloca el panel en el centro*/
}

.Teclado {
  text-align: center; /*centro*/
  background-color: rgba(255, 255, 255, 0.705);
  padding: 15px;
  border: solid;
  border-color: green;
  border-radius: 50px;
  margin: auto; /*Coloca el panel en el centro*/
  width: auto;
  font-size: 50px;
}

.Linea1 {
  text-align: center;
  font-size: 40px;
}

.Linea2 {
  text-align: center;
  font-size: 40px;
}

.Linea3 {
  text-align: center;
  font-size: 40px;
}

.Linea4 {
  text-align: center;
  font-size: 40px;
}

.Linea5 {
  text-align: center;
  font-size: 40px;
}

#display {
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.705);
}

button {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  font-family: Verdana;
}

#secretpassword {
  font-size: 40px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(217, 226, 216, 0.705);
  color: red;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */

}
