/* Documento de estilo referido al
  currículum de Bjorn. */

  
  /* Estilo del body, solo usado para background-image */
  body{
    background-image: url("paisajegelido.jpg");
    background-repeat: no-repeat; /* Para que la imagen no se repita */
    background-size: cover; /* Para que la imagen ocupe toda la página */

}

body{
    width: 90%;
    margin: auto;

}
h1{
  text-align: center;
}
  .title{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    
  }
.main{
  background-color: rgba(255, 255, 255, 0.4); /* Aquí el último valor (0.5) representa la opacidad */
}


.info{
  display: flex;
  flex-wrap: wrap;
  
}

.izquierda{
  width: 33%;
  
  
}

.derecha{
  width: 66.3%;
  
}


  .Bjorn{
    height: 285px;
    border-radius: 80px;
    box-shadow: 5px 5px 5px 5px;
    margin-top: 2%;
    margin-left: 25%;
  }

  .sobre_mi_cont{
    width: 93%;
    margin-left: 3%;
    border: solid 1px;
    margin-top: 20px;
    
    


  }
  
  .sobre_mi{
    border-bottom: solid 1px ;
    margin-left: 10px;
  }

  .sobre_mi_cont p{
    padding: 10px;
  }
